.header {
    background-color: #dfdfdf;
    display: block;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}

.head {
    color: #3f3d3d;
    font-weight: 400 strong;
    font-style:italic;
}
.span {
    color: black;
    
    
}

